*.txt
*.pyc
data/*
*.p
.DS_STORE
src/NeuralNet/testfunction.py
src/LeNet/octave-workspace
*.gz
*.pkl.gz
*.jpg
*.csv
*.pkl
*.pkl.params
src/Learning_Transformations/TMatrx
src/Learning_Transformations/XReduced
*.png
*.npy
*.pdf
*.log
*.ipynb
